.page-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: conic-gradient(white, black);
    background-color: black;
    color: burlywood;
    font-family: Arial sans-serif;
}

.column-main-header {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.header {
    color: olivedrab;
    text-decoration: underline;
}

li {
    list-style-type: circle;
}

td {

    padding: 0;
    margin: 0;
}

tr {
    padding: 0;
    margin: 0;
}

a {
    color: burlywood;
}

a:hover {
    color: olivedrab;
}

@keyframes slidein {
    from {
        margin-left: 79%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }

}

a {
    animation-duration: 3s;
    animation-name: slidein;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}