.page-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: conic-gradient(white, black);
    background-color: black;
    color: burlywood;
    font-family: Arial sans-serif;
}

.column-main-header {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.header {
    color: olivedrab;
    text-decoration: underline;
}

li {
    list-style-type: circle;
}

td {

    padding: 0;
    margin: 0;
}

tr {
    padding: 0;
    margin: 0;
}

a {
    color: burlywood;
}

a:hover {
    color: olivedrab;
}
